<h2>Edit Item</h2>

<form method="post" action="/items/<%=@item.id%>">

  <label for="manufacturer-select">Select Manafacturer</label>
    <select id="manufacturer-select" name="manufacturer_id">
      <%@manufacturers.each do |manufacturer| %>
        <option value=<%=manufacturer.id%>><%=manufacturer.name%></option>
      <%end%>
    </select>

  <label for="component">Component:</label>
  <input id="component" value ="<%=@item.component%>" type="text" name="component"/>
<br><br>
  <label for="cost">Cost:</label>
  <input id="cost" value ="<%=@item.cost%>" type="number" name="cost" min="1"/>

  <label for="price">Price:</label>
  <input id="price" value ="<%=@item.price%>" type="number" name="price" min="1"/>

  <!-- <label for="margin">Margin:</label>
  <input value ="<%=@item.markup%>" type="number" name="margin" min="1"/> -->

  <label for="quantity">Quantity:</label>
  <input id="quantity"value ="<%=@item.quantity%>" type="number" name="quantity" min="1"/>
<br><br>
  <label for="low_stock">Low Stock:</label>
  <input id="low_stock"value ="<%=@item.low_stock%>" type="number" name="low_stock" min="1"/>

  <label for="critical_stock">Critical Stock:</label>
  <input id="critical_stock" value ="<%=@item.critical_stock%>" type="number" name="critical_stock" min="1"/>

  <input type="submit" value="Edit item"/>
</form>
