<h2> Inventory </h2>
<span>
  <form method="get" action="/items">
    <label style="font-family: arial;" for="manufacturer-select">Filter by</label>
    <select id="manufacturer-select" selected="manufacturer.id" name="manufacturer_id">
      <option disabled selected>Manufacturer</option>
      <%@manufacturers.each do |manufacturer| %>
      <option value=<%=manufacturer.id%>><%=manufacturer.name%></option>
      <%end%>
    </select>
    <input class="btn btn--input" type="submit" value="Apply"/>
  </form>
  <form method="get" action="/items/new">
    <input class="btn btn--input"type="submit" value="New Item">
  </form>
</span>

<br>
<table id="all-items">
  <thead>
    <tr>
      <th>Item ID</th>
      <th>Manufacturer</th>
      <th>Component</th>
      <th>Cost</th>
      <th>Price</th>
      <th>Mark Up(%)</th>
      <th>Quantity</th>
      <th>Low Stock</th>
      <th>Critical Stock</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @items%>
    <tr>
      <td><%=item.id%></td>
      <td><%=item.man_name.name%></td>
      <td><%=item.component%></td>
      <td><%=item.cost.to_i%></td>
      <td><%=item.price.to_i%></td>
      <td><%=item.markup.to_i%></td>
      <td><%=item.quantity.to_i%></td>
      <td><%=item.low_stock.to_i%></td>
      <td><%=item.critical_stock.to_i%></td>
      <td><a href="/items/<%=item.id%>">Edit</a></td>
    </tr>
    <%end%>
  </tbody>
</table>
