<h2>Item Details</h2>

<ul>
  <li>Item ID: <%= @item.id %></li>
  <li>Man ID: <%= @item.manufacturer_id %></li>
  <li>Component: <%= @item.component %></li>
  <li>Cost: <%= @item.cost.to_i %></li>
  <li>Price: <%= @item.price.to_i %></li>
  <li>Quantity: <%= @item.quantity.to_i %></li>
  <li>Low Stock: <%= @item.low_stock.to_i %></li>
  <li>Critical Stock: <%= @item.critical_stock.to_i %></li>
</ul>

<form method="post" action="/items/<%=@item.id%>/delete">
  <input type="submit" value="Delete Item">  <!--submit is a type of button -->
</form>
<!--
method = verb - either post or get, depending on REST route,
action = the URL of the path -->

<form method="get" action="/items/<%=@item.id%>/edit">
  <input type="submit" value="Edit Item">
</form>
