<h2>Item Details</h2>

<ul>
  <li>Item ID: <%= @item.id %></li>
  <li>Man ID: <%= @item.manufacturer_id %></li>
  <li>Component: <%= @item.component %></li>
  <li>Cost: <%= @item.cost.to_i %></li>
  <li>Price: <%= @item.price.to_i %></li>
  <li>Quantity: <%= @item.quantity.to_i %></li>
  <li>Low Stock: <%= @item.low_stock.to_i %></li>
  <li>Critical Stock: <%= @item.critical_stock.to_i %></li>
</ul>

<form method="post" action="/items/<%=@item.id%>/delete">
  <input class="btn btn--input" type="submit" value="Delete Item">  
</form>

<form method="get" action="/items/<%=@item.id%>/edit">
  <input class="btn btn--input" type="submit" value="Edit Item">
</form>
