<h2>Item Details</h2>

<p>Item ID: <%= @item.id %></p>
<p>Man ID: <%= @item.manufacturer_id %></p>
<p>Component: <%= @item.component %></p>
<p>Cost: <%= @item.cost.to_i %></p>
<p>Price: <%= @item.price.to_i %></p>
<!-- <p>Margin: <%= @item.markup.to_i %></p> -->
<p>Quantity: <%= @item.quantity.to_i %></p>
<p>Low Stock: <%= @item.low_stock.to_i %></p>
<p>Critical Stock: <%= @item.critical_stock.to_i %></p>


<form method="post" action="/items/<%=@item.id%>/delete">
  <input type="submit" value="Delete Item">  <!--submit is a type of button -->
</form>
<!--
method = verb - either post or get, depending on REST route,
action = the URL of the path -->

<form method="get" action="/items/<%=@item.id%>/edit">
  <input type="submit" value="Edit Item">
</form>
