<h1>Stock Alerts</h1>


<table id="critical-stock">
  <thead>
    <tr>
      <th>Item ID</th>
      <th>Manufacturer</th>
      <th>Component</th>
      <th>Quantity</th>
      <td style=color:red;>Stock Level</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @items%>
      <tr>
        <td><%=item.id%></td>
        <td><%=item.man_name.name%></td>
        <td><%=item.component%></td>
        <td><%=item.quantity.to_i%></td>
        <td style=color:red;><%=item.stock_level%></td>
      </tr>
    <% end %>
  </tbody>
</table>
